stages:
  - build
  - deploy
  - secret-detection

variables:
  SECRET_DETECTION_ENABLED: 'true'
  HUGO_VERSION: '0.147.8'

build:
  stage: build
  image: golang:1.23-alpine
  before_script:
    - apk add --no-cache wget git libc6-compat libstdc++
    - wget -q https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.tar.gz
    - tar -xzf hugo_extended_${HUGO_VERSION}_linux-amd64.tar.gz
    - chmod +x hugo
    - mv hugo /usr/local/bin/hugo
    - /usr/local/bin/hugo version
  script:
    - /usr/local/bin/hugo --minify --gc
  artifacts:
    paths:
      - public/
    expire_in: 1 hour
  only:
    - main

deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client rsync
    - mkdir -p ~/.ssh
    - echo "$DEPLOY_SSH_KEY" | base64 -d > ~/.ssh/deploy_key
    - chmod 600 ~/.ssh/deploy_key
    - ssh-keyscan -p $DEPLOY_SSH_PORT -H $DEPLOY_HOST >> ~/.ssh/known_hosts
  script:
    - rsync -avz --delete -e "ssh -i ~/.ssh/deploy_key -p $DEPLOY_SSH_PORT -o StrictHostKeyChecking=no" public/ $DEPLOY_USER@$DEPLOY_HOST:$DEPLOY_PATH
    - ssh -i ~/.ssh/deploy_key -p $DEPLOY_SSH_PORT $DEPLOY_USER@$DEPLOY_HOST "sudo chown -R www-data:www-data $DEPLOY_PATH"
  after_script:
    - rm -f ~/.ssh/deploy_key
  dependencies:
    - build
  only:
    - main

secret_detection:
  stage: secret-detection

include:
  - template: Security/Secret-Detection.gitlab-ci.yml
